<h1> This is a terrible authors index page. One of the worst ever. </h1>

<span>Most prolific author: <%= @prolific_author.name %> </span>
<div class="author">
  <% @authors.each do |author| %>
    <h2>My name is <%= author.name %></h2>
    <% author.articles.each do |art| %>
      <p>I wrote: <span style="text-decoration: underline"><%= link_to art.name, articles_show_path(art) %> </span></p>
    <% end %>
  <% end %>
</div>
