<h1>Some of the most inefficient ActiveRecord Querying ever.</h1>

<div class="stats-section">
  <div>Most prolific author: <%= @prolific_author.name %> </div>
  <div>Author with most upvoted article: <%= @author_with_most_upvoted_article %> </div>
  <p style="text-decoration: underline">Five longest article names:</p>
  <% @five_longest_article_names.each do |name| %>
    <li> <%= name %> </li>
  <% end %>

  <p>List of all the article names (TOO LONG)</p>
  <% @article_names.each do |name| %>
    <li><%= name %></li>
  <% end %>
</div>
